/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(0deg, #B04EF2ff, #B068F4ff, #B183F6ff, #B19DF9ff, #B1B7FBff, #B2D2FDff, #B2ECFFff);
}

.nav {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 6rem;
  border: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 1rem;
}

.top-title {
  display: flex;
  flex-grow: 1;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
}

.nav-album-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.first-chunk {
  border: solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.ranking {
  width: 40%;
  padding: 0.3rem;
  border: red solid;
  height: fit-content;
}

.streaming-data {
  width: 40%;
  padding: 0.3rem;
}
