/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(0deg, #B04EF2ff, #B068F4ff, #B183F6ff, #B19DF9ff, #B1B7FBff, #B2D2FDff, #B2ECFFff);
} 

.nav {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid black;
}

.img-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 6rem;
  border: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 1rem;
}

.top-title {
  display: flex;
  flex-grow: 1;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
}

.nav-album-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-chunk {
  border: solid black;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 2rem 0 2rem;
}

.streaming-data {
  width: 45%;
  border: blueviolet solid;
}

.first-chunk-nest {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  border: solid green;
}

.ranking {
  border: red solid;
  height: fit-content;
  text-align: left;
}

.doc-one-and-two {
  border: blue solid;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.fearless-doc-img {
  width: 30%;
}

.speak-now-doc-img {
  width: 100%;
}

ol {
  list-style: none;
  text-align: left;
}

.doc-one-and-two > h2 {
  text-align: center;
}

.doc-three-to-seven {
  border: solid rgb(199, 4, 4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 0 2rem 0 2rem;
}

._1989-doc {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  border: solid greenyellow;
  text-align: left;
  width: 20%
}

._1989-doc-img{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.rep-doc {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  border: solid blue;
  text-align: left;
  width: 20%
}

.rep-doc-img{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.miss-americana-doc {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  border: solid rebeccapurple;
  text-align: left;
  width: 20%
}

.miss-americana-doc-img{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.lover-doc {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  border: solid pink;
  text-align: left;
  width: 20%
}

.lover-doc-img{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.folklore-doc {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  border: solid grey;
  text-align: left;
  width: 20%
}

.folklore-doc-img{
  display: flex;
  flex-direction: column;
  width: 50%;
}
