/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(0deg, #B04EF2ff, #B068F4ff, #B183F6ff, #B19DF9ff, #B1B7FBff, #B2D2FDff, #B2ECFFff);
}

.nav {
  border: solid black 10px;
  width: 100%
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.img-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.logo {
  width: 6rem;
  height: 6rem;
  border: solid 4px blueviolet;
  border-radius: 1rem 1rem 1rem 1rem;
  
}

.top-title {
  display: flex;
  flex-grow: 1;
  border: 5px solid purple;
  font-size: 1.5rem;
  align-items: right;
}

.nav-album-links {
  text-decoration: none;
  border: solid green;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0.3rem;
  color: black;
  width: 100%
}



